/*=========== PARAMETROS GLOBAIS */

*{margin: 0; padding: 0; box-sizing: border-box;}

:root{
  --green: #36E448;
}

html{
   font-size: 93.75%;
}

body{
  background-color: #0B0A0A;
  font-family: 'Poppins', sans-serif;

}

h1, p{
    color: white;
}


/*=========== HEADER */

header{
  margin: 2%;
  text-align: center;
}


h1{
  font-weight: 600;
  text-align: left;
  font-size: 2.6rem;
}


/*=========== CONTAINER */
.container{
  width: min(90vw, 1200px);
  margin: 5rem auto 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


/*=========== MAIN */

main{
  margin-right: 10rem; 
}


/*=========== TEXTS */
p.text{
  font-weight: 200;
  margin: 1rem 0;
  text-align: justify;
  font-size: 1.3rem;
}

b.text-green{
  color: var(--green);
}


/*=========== BUTTONS */
.buttons{
  width: min(100vw, 900px);
  margin: 1rem auto;

  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.sign-in,
button.sign-up{
  width: 40%;
  padding: 1rem;

  border: none;
  border-radius: .5rem;

  font-size: 1.3rem;
  color: white;
  cursor: pointer;
 
}

button.sign-in{
  background: #29BC64;
  
}

button.sign-up{
  background: #1F74D8;
}

button.sign-in:hover{
  background: rgb(51, 160, 94);
  transition: .4s;
}

button.sign-up:hover{
  background: rgb(13, 83, 163);
  transition: .4s;
}


/*=========== MEDIAS */

/*====== MAX */
@media (max-width: 900px){

  h1{
    font-size: 1.78rem;
    text-align: center;
    margin: 0 0 2.2rem 0 ;
  }

  main{
    margin: 0;
  }

  .image-graphic{
    display: none;
  }

  p.text{
    font-size: 1.2rem;
    text-align: justify;
  }

  .buttons{
    display: flex;
    flex-direction:column;
  }

  button.sign-in,
  button.sign-up{
    width: 80%;
    margin: 7px 0;
  }
}

/*====== MIN */
/* .buttons{
  display: flex;
  flex-direction:column;
} */

