/*=========== PARAMETROS GLOBAIS */

*{margin: 0; padding: 0; box-sizing: border-box;}

:root{
  --green: #36E448;
}

html{
   font-size: 93.75%;
}

body{
  background-color: #0B0A0A;
  font-family: 'Poppins', sans-serif;
  /* height:  100vh; */
}

h1, p{
    color: white;
}

a{
  color: white;
  text-decoration:  none;
}


/*=========== HEADER */

header{
  margin: 2%;
  text-align: center;
}


h1{
  font-weight: 600;
  text-align: left;
  font-size: 2.4rem;
}


/*=========== CONTAINER */
.container{
  width: min(90vw, 1300px);
  margin: 5rem auto 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.line{
  width: 3rem;
  height: .4rem;
  
  border-radius: 10rem;
  margin: 2rem 0;

  background-color:  var(--green);
}

/*=========== MAIN */
main{
  margin-right: 10rem; 
}


/*=========== TEXTS */
p.text{
  font-weight: 200;
  margin: 1rem 0;
  text-align: justify;
  font-size: 1.1rem;
}

b.text-green{
  color: var(--green);
}

/*=========== IMAGE-GRAPHIC*/
.image-graphic{
  z-index:  -1;
}

button{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

/*=========== BUTTONS */
.buttons{
  width: min(100vw, 900px);
  margin: 3rem auto;

  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-in,
.sign-up{
  width: 40%;
  padding: 1rem;

  border: none;
  border-radius: .5rem;

  font-size: 1.3rem;
  color: white;
  cursor: pointer;
  text-align: center;
}

.sign-in{
  background: #29BC64;
  
}

.sign-up{
  background: #1F74D8;
}

.sign-in:hover{
  background: rgb(51, 160, 94);
  transition: .4s;
}

.sign-up:hover{
  background: rgb(13, 83, 163);
  transition: .4s;
}

/*=========== SECTION 2 */
.wave{
  background: transparent;
  position: relative;
}

.wave{
  position: absolute;
  z-index: -1;
  content: '';
  width: 100%;
  height: 250px;
  background:  url(../assets/vetor-3.svg);
  background-repeat: no-repeat;
  background-size: cover;  
}

.content-wave{
  position: relative;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 100vh;
  top: 250px;
}

div.img-section-2{
  text-align: center;
  
  position: relative;
  bottom: 8.3rem;
  z-index: -1;
}


/*=========== MEDIAS */

/*====== MAX */
@media (max-width: 900px){

  h1{
    font-size: 1.78rem;
    text-align: center;
    margin: 0 0 2.2rem 0 ;
  }

  main{
    margin: 0;
  }

  .image-graphic{
    display: none;
  }

  p.text{
    font-size: 1.2rem;
    text-align: justify;
  }

  .buttons{
    display: flex;
    flex-direction:column;
  }

.sign-in,
.sign-up{
    width: 80%;
    margin: 7px 0;
  }


}

/*====== MIN */
/* .buttons{
  display: flex;
  flex-direction:column;
} */

